<main class="article-container">
    <%= for article <- @articles do %>
        <%= if article.has_content and not article.is_draft do %>
            <%= render "article.html", article: article %>
        <% end %>
    <% end %>
</main>